*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    width: 100vw;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.logo{
    color: white;
    cursor: pointer;
}
nav ul{
    float: right;
    
}
nav li{
    list-style: none;
    display: inline;
    padding: 10px 10px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px 5px;
}
nav a:hover{
    background-color: aqua;
    color: brown;
}